html {
    cursor: url(imagens/imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(imagens/imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    left: 0;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: 1px solid white;
    border-radius: 0 15px 0 0;
    background-color: white;
    opacity: .7;
}

.vidas {
    float: left;
}

.time {
    float: left;
    font-size: 2.25px;
    font-weight: bold;
}

/*
Midias querys
*/


@media(max-width: 970px) {
    body {
        background-image: url(imagens/imagens/fundoGrande.jpeg);

        background-size: clover;
    } 

    .m-mosquito-img {
        width: 90%;
    }
}

@media(max-width: 450px){
    body {
        background-image: url(imagens/imagens/fundoCell.jpeg);

        background-size: clover;
    }

}